[submodule "IP_ProgramCounter"]
	path = src/ip/pc
	url = git@github.com:Clarkson-RISC-V-2023/IP_ProgramCounter.git
	branch = main
[submodule "IP_ALU"]
	path = src/ip/alu
	url = git@github.com:Clarkson-RISC-V-2023/IP_ALU.git
	branch = main
[submodule "IP_Jump_Unit"]
	path = src/ip/jump
	url = git@github.com:Clarkson-RISC-V-2023/IP_Jump_Unit.git
	branch = main
[submodule "IP_Branch_Unit"]
	path = src/ip/branch
	url = git@github.com:Clarkson-RISC-V-2023/IP_Branch_Unit.git
	branch = main
[submodule "IP_Register_File"]
	path = src/ip/regs
	url = git@github.com:Clarkson-RISC-V-2023/IP_Register_File.git
	branch = main
[submodule "IP_LSU"]
	path = src/ip/lsu
	url = git@github.com:Clarkson-RISC-V-2023/IP_LSU.git
	branch = main
[submodule "IP_RAM"]
	path = src/ip/mem
	url = git@github.com:Clarkson-RISC-V-2023/IP_RAM.git
	branch = main
[submodule "IP_Decoder"]
	path = src/ip/decoder
	url = git@github.com:Clarkson-RISC-V-2023/IP_Decoder.git
	branch = redline
[submodule "IP_Sign_Extend"]
	path = src/ip/sextend
	url = git@github.com:Clarkson-RISC-V-2023/IP_Sign_Extend.git
	branch = main
