[submodule "IP_ProgramCounter"]
	path = src/ip/pc
	url = git@github.com:Clarkson-RISC-V-2023/IP_ProgramCounter.git
	branch = main
[submodule "IP_ROM"]
	path = src/ip/rom
	url = git@github.com:Clarkson-RISC-V-2023/IP_ROM.git
	branch = main
